{% extends "!layout.html" %}
{% block header %}
  {{ super() }}
  <center>
  <div style="height: 30px; background-color: lightgrey">
    Hier wäre jetzt ein Headerlogo oder so und ein paar Links geil:
    <a href="/docs/">Documentation</a> |
    <a href="/forum/">Forum</a> |
    <a href="/news/">News</a> |
    <a href="http://bitbucket.org/Svedrin/mumble-django/downloads/">Downloads</a> |
    <a href="http://bitbucket.org/Svedrin/mumble-django/src/tip/">Source</a> |
    <a href="http://bitbucket.org/Svedrin/mumble-django/changesets/">Changesets</a> |
    <a href="http://bitbucket.org/Svedrin/mumble-django/issues/">Issues</a>
  </div>
  </center>
{% endblock %}
